@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar {
  width: 0.5em; 
  border-radius: 20px;
  background-color: rgb(255, 255, 255)
 }  

 ::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
}


::-webkit-scrollbar-thumb {
  width: 0.5em; /* Adjust the width of the scrollbar as needed */
  /* border-radius: 20px; */
  background-color: rgb(140, 131, 233)/* Adjust the background color of the scrollbar track */
 } 
